@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2> We value your privacy</h2>
<p>
    <ul>
        <li><h5>We really value your privacy</h5></li>
        <li><h5>We’d never collect anything</h5></li>
        <li><h5>We securely encrypt everything on-device</h5></li>
    </ul>
</p>
