@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <ul>
        <li><h4>We really value your privacy</h4></li>
        <li><h4>We’d never collect anything</h4></li>
        <li><h4>We securely encrypt everything on-device</h4></li>
    </ul>
</p>
